*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', 'sans-serif';
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    background-image: linear-gradient(rgba(196, 164, 132, 0.65),rgba(196, 164, 132, 0.65)), url(background.png);
    background-size:cover;
    width: 100%;
    min-height: 100vh;
    padding: 10px 8%;
}
.container{
    width: 100%;
    min-height: 100vh;
    padding: 10px 8%;
}
nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 5%;
}
.logo{
    width: 150px;
    cursor: pointer;
}
nav ul{
    list-style: none;
    width: 100%;
    text-align: right;
    padding-right: 60px;
}
nav ul li{
    display: inline-block;
    margin: 10px 20px;
}
nav ul li a{
    color: #fff;
    text-decoration: none;
}
nav ul li .bsk{ 
    display: flex;
    align-items: center;
    padding: 10px 20px;
    border: 0;
    outline: 0;
    border-radius: 5px;
    background: #f5168d;
    color: #fff;
    font-weight: 500;
    cursor:pointer;
}
nav ul li a img{
    width: 20px;
     margin-right: 10px;
}
.btn{
    display: flex;
    align-items: center;
    padding: 10px 20px;
    border: 0;
    outline: 0;
    border-radius: 5px;
    background: #f5168d;
    color: #fff;
    font-weight: 500;
    cursor:pointer;
}

.content{
    margin-top: 14%;
    color:#fff;
    max-width: 620px;
    
}
.content h1{
    font-size: 60px;
    font-weight: 600;
    line-height: 75px;
    margin-bottom: 20px;
}
.content form{
    display: flex;
    align-items: center;
    background: #fff;
    border-radius: 5px;
    padding: 10px;
    margin-top: 30px;

}
.content form input{
    border: 0;
    outline: 0;
    width: 100%;
    font-size: 16px;
    padding-left: 10px;
}
.content form .btn{
    font-size: 15px;
    padding: 10px 30px;
}
.Container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /*grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1rem;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    margin: 50px 0; */
}

.Container > div {
    text-align: center;
    border-radius: 2rem;
    padding: 1rem;
    background-color: #f2f2f2;
    box-sizing: border-box;
    cursor: pointer;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    transition: 0.4s;
    height: 23.5rem;
}

.Container div object:hover {
    transform: scaleX(-1);
}

.Container div:hover {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    transform: translate(0px, -8px);
}

.product-image {
    flex: 1;
    padding: 20px;
  }
  
  .product-image img {
    max-width: 100%;
    height: 100;
  }
  
  .product-description {
    flex: 1;
    padding: 20px;
  }
  
  .product-description h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .product-description p {
    margin-bottom: 10px;
  }

p {
    text-align: center;
    color: #b2bec3;
    padding: 8px 0;
}

h3 {
    font-size: 26px;
    text-align: center;
    color: black;
    margin: 0;
}

.btn-buy {
    background: #2183a2;
    text-align: center;
    font-size: 24px;
    color: #fff;
    width: 100%;
    padding: 15px;
    border: 0;
    outline: none;
    cursor: pointer;
    margin-top: 5px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

@media (max-width: 768px) {
    .gridContainer {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
}
/* .gridContainer
{
  grid-template-columns: auto auto auto;
  gap: 1rem;
  padding: 0.5rem;
  display:grid;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 50px 0;
}
.gridContainer > div{
  margin: 15px;  
  text-align: center;
  border-radius: 2rem;
  justify-content: space-between;
  padding: 1rem;
  background-color: #f2f2f2;
  box-sizing: border-box;
  cursor: pointer;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25),0 10px 10px rgba(0,0,0,0.22);
  transition: .4s;
}

.gridContainer div object:hover{
  transform: scaleX(-1);
}
.gridContainer div:hover{
    box-shadow: 0 3px 6px rgba(0,0,0,0.16),0 3px 6px rgba(0,0,0,0.23);
    transform: translate(0px, -8px);
}
object{
    width: 200px;
    height: 200px;
    text-align: center;
    margin: 0 auto;
    display: block;
}
p{
    text-align: center;
    color: #b2bec3;
    padding-top: 0 8px;
}
h3{
    font-size: 26px;
    text-align: center;
    color: black;
    margin: 0;
}
.btn-buy{
background: #2183a2;
text-align: center;
font-size: 24px;
color: #fff;
width: 100%;
padding: 15px;
border: 0;
outline: none;
cursor: pointer;
margin-top: 5px;
border-bottom-right-radius: 20px;
border-bottom-left-radius: 20px;
} */
.map h2{
    background-color: white;
    font-size: 45px;
    text-decoration: underline;
}
.map iframe{
    float: right;
    width: 500px;
    height:500px;
    margin: 5px;
    padding: 5px;
}
.map h3{
    font-size: 35px;
    text-decoration: underline;
}
.map p{
    font-size: 20px;
    color: white;
    }
.social{
    display: flex;
    align-items: center;
    padding-left: 20rem;
}

.social a{
    width: 70px;
    height: 70px;
    text-align: center;
    text-decoration: none;
    color: white;
    box-shadow: 0 0 20px 10px rgba(0,0,0,0.05);
    margin: 0 30px;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    transition: transform 0.5s;
    }
.social a .fa-brands{
    font-size: 30px;
    line-height: 80px;
    position: relative;
    z-index: 10;
    transition: color 0.5s;
    }
.social a::after{
    content: '';
    width: 100%;
    height: 100%;
    top: -90px;
    left: 0;
    background: linear-gradient(-45deg,#ed1c94,#ffec17);
    position: absolute;
    transition: 0.5s;
    }
.social a:hover::after{
    top: 0;
}
.social a:hover .fab{
    color: #fff;
}
.social a:hover{
    transform: translateY(-10px);
}

.search-container {
    display: flex;
    align-items: center; 
    justify-content: center;
}

#search-input {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    height: 40px;
    transition: all 0.3s; 
}

#search-button {
    background-color: gray;
    border: none;
    border-radius: 5px;
    color: #fff;
    padding: 10px 20px;
    margin-left: 10px;
    cursor: pointer;
    transition: background-color 0.3s; 
    display: flex;
    align-items: center;
}

#search-button i {
    margin-right: 5px; 
}

#search-button:hover {
    background-color: green;
}
input[type=text]:focus {
    width: 50%;
  }
  input[type=text] {
    width: 130px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
  }
  .map h2{
    text-align: center;
  }
  #cart h2{
    text-align: center;
  }